[submodule "3rdParty/QBuildSystem"]
	path = 3rdParty/QBuildSystem
	url = https://github.com/Targoman/QBuildSystem.git
[submodule "3rdParty/QBuildSystem-sampleLibrary"]
	path = 3rdParty/QBuildSystem-sampleLibrary
	url = https://github.com/Targoman/QBuildSystem-sampleLibrary.git
[submodule "3rdParty/ISO639"]
	path = 3rdParty/ISO639
	url = https://github.com/Targoman/ISO639
[submodule "3rdParty/QBuildSystem-dummyLib-2"]
	path = 3rdParty/QBuildSystem-dummyLib-2
	url = https://github.com/Targoman/QBuildSystem-dummyLib-2
